* {

    box-sizing: border-box;
}

body {

    font-family: 'Open Sans', Helvetica, sans-serif;
    
}



.container {

    max-width: 1142px;
    margin: 0 auto;
}

.header {
    
    position: relative;
    background-image: url(../img/hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1059px;
    
    
}
.wrapper {

    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: top;
    padding-top: 26px;
    padding-bottom: 162px;
}

.header__logo {

    display: block;
    width: 198px;
    height: 46px;

}

.menu {

    display: flex;
    list-style-type: none;
    
}

.menu__item {

    padding-right: 54px;
}

.menu__link {

    font-size: 14px;
    color: #fff;

}

.contacts__phone {

    font-size: 26px;
    color: #fff;
    font-style: normal;
    text-decoration: none;
}

.contacts__info {

    text-decoration-line: underline;
    font-size: 13px;
    color: #FF3D00;
}


.promo__title {

    display: block;
    margin: 0 auto;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 17px;
}

.promo__subtitle {

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 43px;

}

.button {

    display: block;
    width: 195px;
    height: 55px;   
    background: #FF3D00;
    border-radius: 35px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    line-height: 55px;
}


/* Начало секции "Услуги" */

.offers__list {

    display: flex;
    list-style-type: none;
}

.offers__item {

    margin-right: 26px;
    width: 362px;
    min-height: 476px;
    background: #FFFFFF;
    border-radius: 5px;
    border: 2px solid;
    border-color:#FF3D00;
}

.offers__item_active {

    background: #FFFFFF;
    border: 5px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 5px;

}

.offers__img {

    padding: 36px 0px 30px 29px;

}

.offers__subtitle {

    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    margin: 0 auto;
    padding: 0px 0px 17px 22px;
}

.offers__content {

    display: flex;
    padding: 0px 34px 25px 22px;
}

.offers__feature-text {

    width: 102px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    margin-right: 81px;
    
}

.offers__feature-text:last-child {

    margin-right: 0px;
}

.offers__descr {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding: 0px 34px 29px 22px;
    margin: 0 auto;
}

.button__offers {

    margin-left: 24px;
    border: 2px solid #FF3D00;
    background: #fff;
    color: #FF3D00;
}

/* секция "Новости и акции */

.news {

    top: 122px;
    background-image:url(../img/bottom-pic.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 926px;

}


.news__inner {

    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0px;
    
}
.news__title {

    
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    color: #fff;

}

    
.news__item {

    position: relative;
    margin-right: 26px;
}

.news__item:last-child {

    margin-right: 0px;
}

.news__text-content {

    position: absolute;
    top: 252px;
    left: 30px;
    bottom: 0px;
}

.news__date {

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #fff;
    padding-bottom: 12px;
}

.news__subheader {

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #fff;
}

.news__descr {

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color:#fff;
}

/* стили для навигации по слайдам */

.pagination {

    
    text-align: center;
}

.pagination__list, .pagination__info {

    display: inline-block;
    vertical-align: middle;

}

.pagination__list {

    margin-right: 26px;
}

.pagination__item {

    display: inline-block;
    margin-right: 24px;
    
}

.pagination__item:last-child {

    margin-right: 0px;
}

.pagination__info {

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #fff;

}

.pagination__item_active {

    line-height: 32px;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background: #FF5500
}
.pagination__link {

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    
}

/* стили для секции "О нас" */

.about {

    background: #17191C;
}

.about__wrapper {

    position: relative;
    display: flex;
}

.about__img {

    width: 490px;
    height: 505px

}
.about__info {

    position: absolute;
    top: 97px;
    left: 354px;
    bottom: 0;
    width: 785px;
    height: 455px;
    background: #FFFFFF;
    border-radius: 5px; 
    margin: 0 auto;
    
}

.about__title {

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    padding: 70px 0px 37px 81px;
    margin: 0 auto;
}

.about__descr {

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #060606;
    padding: 37px 202px 43px 81px ;
    margin: 0 auto;
}

.button__about {

    margin-left: 81px;
}

.footer {

    position: relative;
    top: 0px;
    background: #17191C;
    
}
.footer__wrapper {

    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 306px;
}

.footer__social-item {

    padding-right: 10px;
}

.footer__social-item:last-child {

    padding-right: 0px;
}