* {

    box-sizing: border-box;
}

body {

    font-family: 'Open Sans', Helvetica, sans-serif;
    background: #17191C;
    
}

.wrapper  {
    padding: 26px 0px 57px 0px;
    background: url("../img/hero.png") center top no-repeat, url("../img/bottom-pic.png") bottom 306px center no-repeat;
}

.container {
    max-width: 1142px;
    margin: 0 auto;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.logo {
    display: inline-block;
    width: 198px;
    height: 46px;
}

.menu__list {
    display: inline-block;
    list-style-type: none;
}

.menu__item {
    display: inline-block;
    margin-right: 54px;
}

.menu__item:last-child {
    margin-right: 0px;
}

.menu__link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}


.contacts {
    display: inline-block;
}

.contacts__phone {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: #fff;
    text-decoration: none;
}

.contacts__info {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    text-decoration-line: underline;
    color: #FF3D00;
}


.promo {
    padding: 162px 0px 233px 0px;
    text-align: center;
}

.promo__title {
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
}

.promo__subtitle {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 17px;
}

.button {
    display: block;
    width: 195px;
    height: 55px;
    background: #FF3D00;
    border-radius: 35px;
    line-height: 55px;
    margin: 0 auto;
    margin-top: 43px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

.offers {
    padding: 0px 0px 180px;
}

.offers__list {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.offer-card {
    width: 362px;
    height: 476px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-right: 27px;
    border: 5px solid transparent;
} 

.offer-card:hover {
    background: #FFFFFF;
    border-color: #CCCCCC;
    box-sizing: border-box;
    border-radius: 5px;
}

.offer-card:last-child {
    margin-right: 0px;
}

.offer-card__wrapper {
    padding: 40px 34px 53px 22px;
    margin: 0;
}

.offer-card__title {
    margin: 0;
    padding-top: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #000000;
}

.offer-card__amenities {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer-card__feature-text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #666666;
    padding: 17px 81px 0px 0px
}

.offer-card__feature-text:last-child {
    padding-right: 0px;
}

.offer-card__descr {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #666666;
    padding-top: 25px;
    padding-bottom: 29px;
    margin: 0;
}

.button__offer {
    display: block;
    color: #FF3D00;
    background: #FFFFFF;
    border: 2px solid #FF3D00 ;
    text-decoration: none;
    margin: 0;
}

.button__offer:hover {
    background:#FF3D00;
    color: #FFFFFF;
}
.news {
    padding-bottom: 150px;
}

.news__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.news__title {
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 51px;
    margin: 0;
}

.news__item {

    position: relative;
}

.news__cover {
    position: relative;
    display: block;
    width: 557px;
    height: 394px;
}

.news__text-content {
    position: absolute;
    top: 252px;
    left: 32px;
    color: #FFFFFF;
}

.news__date {
    font-weight: normal;
    font-size: 14px;
}

.news__subheader {
    font-weight: bold;
    font-size: 24px;
    padding-top: 12px;
}

.news__descr {
    padding-top: 9px;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    margin: 0;
}

.pagination {
    text-align: center;
    padding-top: 57px;
}

.pagination__info {
    display: inline-block;
    vertical-align: middle;
    margin-right: 26px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
}

.pagination__list {
    display: inline-block;
    vertical-align: middle;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pagination__item {
    display: inline-block;
    vertical-align: middle;
}

.pagination__link {
    display: block;
    width: 32px;
    height: 32px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 32px;
}

.pagination__item:hover {
    background:#FF5500;
    border-radius: 50%;
    line-height: 32px;
}

.about {
    padding-bottom: 53px;
}

.about__wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-top: 97px;
}

.about__img {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 490px;
    height: 505px;
}

.about__info {
    position: relative;
    display: block;
    right: 0;
    bottom: 0;
    width: 785px;
    min-height: 455px;
    background: #FFFFFF;
    border-radius: 5px;
    margin: 0;
    padding: 70px 202px 66px 81px;
}

.about__title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    color: #000000;
}

.about__descr {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #060606;
}
.button__about {
    margin-left: 0;
}

.footer__line {
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.1;
    margin: 0;
}
.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.contacts__info_footer {
    color: #9A9A9A;
    font-style: normal;
    font-size: 11px;
    text-align: right;
}
