
.offers {
    padding: 0px 0px 180px;
}

.offers__list {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.offer-card {
    width: 362px;
    height: 476px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-right: 27px;
    border: 5px solid transparent;
} 

.offer-card:hover {
    background: #FFFFFF;
    border-color: #CCCCCC;
    box-sizing: border-box;
    border-radius: 5px;
}

.offer-card:last-child {
    margin-right: 0px;
}

.offer-card__wrapper {
    padding: 40px 34px 53px 22px;
    margin: 0;
}

.offer-card__title {
    margin: 0;
    padding-top: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #000000;
}

.offer-card__amenities {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer-card__feature-text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #666666;
    padding: 17px 81px 0px 0px
}

.offer-card__feature-text:last-child {
    padding-right: 0px;
}

.offer-card__descr {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #666666;
    padding-top: 25px;
    padding-bottom: 29px;
    margin: 0;
}